<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="container">
      <h1>404 Error Page</h1>
      <p>Oops! You have stumbled too far!</p>
    </div>
  </body>
</html>
