<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="container">
      <h1>About Page</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet id dicta
        possimus! Eaque, odit consequatur exercitationem, libero quas
        voluptatibus cupiditate, praesentium assumenda optio at architecto
        veniam necessitatibus incidunt ipsam fugit.
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
