<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js Practice</title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum quidem
      incidunt in voluptatibus vero! Quaerat dolore voluptas modi unde quis
      repellendus totam rerum impedit ea, ex ut sit reprehenderit possimus!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum quidem
      incidunt in voluptatibus vero! Quaerat dolore voluptas modi unde quis
      repellendus totam rerum impedit ea, ex ut sit reprehenderit possimus!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum quidem
      incidunt in voluptatibus vero! Quaerat dolore voluptas modi unde quis
      repellendus totam rerum impedit ea, ex ut sit reprehenderit possimus!
    </p>
  </body>
</html>
