<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="container">
      <h1>Create New Blog</h1>
      <p>Enter your info to create a new blog post.</p>

      <div class="new-blog">
        <form action="/blogs" method="POST">
          <div class="form-group">
            <label for="title">Blog Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              aria-describedby="title"
              required
            />
          </div>
          <div class="form-group">
            <label for="snippet">Blog Snippet</label>
            <input
              type="text"
              class="form-control"
              id="snippet"
              name="snippet"
              required
            />
          </div>
          <div class="form-group">
            <label for="body">Blog Body</label>
            <textarea
              class="form-control"
              id="body"
              name="body"
              rows="4"
              required
            ></textarea>
          </div>
          <button class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
