html,
body {
  background-color: rgb(255, 255, 255);
}

#footer-copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg,
.blog-wrapper img {
  width: 25px;
  height: 25px;
}

.blog-wrapper img {
  cursor: pointer;
}
